/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




/* ==========================================================================
   Custom CSS
   ========================================================================== */

    @font-face {
      font-family: 'Glyphicons Halflings';
      src: url('../font/bootstrap/glyphicons-halflings-regular.eot');
      src: url('../font/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
           url('../font/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
           url('../font/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
           url('../font/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
    }

    .glyphicon {
        font-family: 'Glyphicons Halflings';
    }
    .glyphicon:hover {
        text-decoration: none;
    }

    body {
        margin: 0;
        padding: 0 0 40px 0;
        background: #f1f1f1;
        color: #000;
        font-family: Arial, sans-serif;
        font-size: 13px;
    }

    h3 {
        font-size: 15px;
        font-weight: normal;
        color: #333;
    }

    h2 {
        font-size: 26px;
    }

   i {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

   .menu-bar {
        width: 100%;
        height: 60px;
        background: #fff;
        position: fixed;
        z-index: 3;
        top: 0;
        border-bottom: 1px solid #ccc;
   }

   .menu-bar .inner {
        padding: 10px;
   }

    .menu-bar .logo {
        margin: 0;
    }

    .active-account-container {
        margin: 60px 0 0 0;
        width: 100%;
        color: #fff;
        background: #007BFF;
        border-bottom: 1px solid #ccc;
        padding: 3px 0 0 0;
    }

    .active-account {
        width: 95%;
        padding: 0 0 0 15px;
    }
    @media (min-width: 576px) {

    }
    @media (min-width: 768px) {
       .active-account {
            width: 500px;
            margin: 0 auto;
       }
    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {

    }


   .active-account .col {
        padding-left: 3px;
        padding-right: 3px;
   }

   .active-account .balance {
        padding: 3px 0 2px 0;
        width: 100%;
   }

   .active-account .address {
        width: 100%;
        padding: 2px 0 2px 0;
        line-height: 23px;
   }

   .active-account .btn-primary {
        padding: 3px 0 2px 0;
        width: 100%;
   }

   .content {
        margin: 60px 0 0 0;
        padding: 0;
   }

   .account-controls {
        width: 100%;
   }

   .main-col {
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 0;
   }

   .exchange-balance {
        font-size: 16px;
        margin: 0 0 5px 0;
        padding: 5px 5px 0 5px;
        background: #fff;
   }

   .wallet-balance {
        font-size: 15px;
        background: #fff;
        padding: 5px 5px 0 5px;
   }

   .deposit {    
        font-size: 15px;
        background: #fff;
        padding: 5px 5px 0 5px;
   }

   .deposit .input-group {
        float: left;
        width: 60%;
        margin: 0 5px 5px 0;
   }

   .deposit .btn {
        float: left;
        width: 38%;
        line-height: 24px;
        font-size: 13px;
   }

   .deposit input {
        font-size: 14px;
   }

   .withdraw {    
        font-size: 15px;
        background: #fff;
        padding: 5px 5px 0 5px;
   }

   .withdraw .input-group {
        float: left;
        width: 60%;
        margin: 0 5px 5px 0;
   }

   .withdraw .btn {
        float: left;
        width: 38%;
        line-height: 24px;
        font-size: 13px;
   }

   .withdraw input {
        font-size: 14px;
   }

   .transfer {    
        font-size: 15px;
        background: #fff;
        padding: 5px 5px 0 5px;
   }

   .transfer .input-group {
        float: left;
        width: 100%;
        margin: 0 5px 5px 0;
   }

   .transfer input {
        font-size: 14px;
   }

   .transfer .btn {
        float: left;
        line-height: 24px;
        font-size: 13px;
   }

   .balance {
        cursor: auto !important;
        font-weight: bold;        
        -o-user-select: text;
        -moz-user-select: text;
        -webkit-user-select: text;
        user-select: text;
        margin: 0 0 5px 0;
        width: 100%;
   }
   .balance:hover {
        background: #28a745 !important;
        border-color: #28a745 !important;
        cursor: auto !important;
   }

   .number {    
    
   }

   .pos {    
        color: #00CC00;
   }

   .menu-icon {
        display: block;
        float: right;
        padding: 6px 6px 2px 6px;
        border: 1px solid #999;
        border-radius: 3px;
   }
   .menu-icon:hover {
        border: 1px solid #000;
   }

    .menu-icon:hover .menu-board {
        background: #000;
    }

   .menu-board {
        height: 3px;
        width: 25px;
        background: #666;
        margin: 0 0 4px 0;
   }

   .menu-bar-col-1 {
        text-align: left;
        width: 50%;
   }   

   .menu-bar-col-2 {
        text-align: right;
        width: 50%;
   }

   .triangle-down {
        float: left;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 0 6px;
        border-color: #fff transparent transparent transparent;
        margin: 10px 0 0 9px;
   }

   .button-text {
        float: left;
   }

   .box {
        border-bottom: 1px solid #ccc;
   }


   .account-container {
        width: 100%;
        padding: 0;
   }
   @media (min-width: 576px) {
       .account-container {
            margin: 0 auto;    
            padding: 40px 0 0 0;
       }
    }
    @media (min-width: 768px) {
       .account-container {
            width: 760px;
       }
    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {

    }

   .account {
        padding: 10px 5px 5px 5px;
        background: #fff;
   }
   @media (min-width: 576px) { 
       .account {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
            background: #fff;
       }
    }
    @media (min-width: 768px) {

    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {

    }

    .account-row {
        border-bottom: 1px solid #ccc;
    }

    .account .wallet-balance {
        padding: 0;
    }

   .new-container {
        width: 100%;
        padding: 0;
   }
   @media (min-width: 576px) { 
       .new-container {
            width: 500px;
            margin: 0 auto;    
            padding: 40px 0 0 0;
       }
    }
    @media (min-width: 768px) {

    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {

    }

   .new {
        padding: 10px 5px 5px 5px;
        background: #fff;
   }
   @media (min-width: 576px) { 
       .new {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
            background: #fff;
       }
    }
    @media (min-width: 768px) {

    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {

    }

   .new .progress {
        margin: 0 0 10px 0;
   }

   .new .list-group {
        padding: 10px 0 10px 0;
   }

   .new .list-group-item:hover {
        background: #f1f1f1;
        color: #000;
   }

   .new .text {
        padding: 0 0 5px 0;
   }

   .new .buttons {
        width: 100%;
        padding: 10px 0 0 0;
   }

   .new .buttons div {
        width: 50%;
        float: left;
   }

   .new .buttons .btn {
        width: 98%;
        font-size: 13px;
   }

   .address {
        font-size: 13px;
        margin: 0 0 5px 0;
        border: 1px solid #ddd;
        background: #f1f1f1;
        border-radius: 3px;
        padding: 2px;
        text-align: center;
        color: #000;
   }
   @media (min-width: 576px) { 
       .address {
            font-size: 12px;
            letter-spacing: 0;
       }
    }

    .import-account .input-group {
        float: left;
        width: 75%;
        margin: 0 5px 5px 0;
   }

   .import-account input {
        font-size: 13px;
   }

   .import-account .btn-primary {
        float: left;
        width: 22%;
        line-height: 26px;
        font-size: 13px;
   }

   .private-key {
        font-size: 11px;
        letter-spacing: -1px;
        border: 1px solid #ddd;
        background: #f1f1f1;
        border-radius: 3px;
        padding: 2px;
        text-align: center;
   }
   @media (min-width: 576px) { 
       .private-key {
            font-size: 12px;
            letter-spacing: 0;
       }
    }
    @media (min-width: 768px) {

    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {

    }